<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
    </head>
    <body>
        <h1>Monsterland :</h1>
        <p>
            Monsterland  est un projet visant à créer une encyclopédie regroupant plusieurs monstre.
        </p>

        <p>
            Liens vers la liste de Monstre : <a href="{{ path('listeMonstre')}}">Liste de monstre</a><br>
            Liens vers l'ajout de Monstre : <a href="{{ path('ajouterMonstre')}}">Ajout d'un monstre</a><br>
            Liens vers la modification d'un Monstre : <a href="{{ path('modifierMonstre')}}">Modifier un monstre</a><br>
            Liens vers la liste de Royaume : <a href="{{ path('listeRoyaume')}}">Liste de royaume</a><br>
            Liens vers l'ajout de Royaume : <a href="{{ path('ajouterRoyaume')}}">Ajout d'un royaume</a><br>
            Liens vers la modification d'un Royaume : <a href="{{ path('modifierRoyaume')}}">Modifier un royaume</a><br>
        </p>
    </body>
</html>